@media (min-width: 1250px) {
  .hod-container,
  .external-container,
  .pdddesign-container,
  .technology-container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .internal-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (max-width: 3840px) and (max-height: 2160px) {
}
@media (max-width: 2850px) and (max-height: 1800px) {
}
@media (max-width: 2560px) and (max-height: 1600px) {
}
@media (max-width: 2560px) and (max-height: 1140px) {
}
@media (max-width: 1920px) and (max-height: 1080px) {
}
@media (max-width: 1900px) and (max-height: 1200px) {
}
@media (max-width: 1728px) and (max-height: 1117px) {
}
@media (max-width: 1512px) and (max-height: 982px) {
}
@media (max-width: 1366px) and (max-height: 1024px) {
}
@media (max-width: 1366px) and (max-height: 768px) {
}
@media (max-width: 1280px) and (max-height: 800px) {
}
@media (max-width: 1180px) and (max-height: 820px) {
}
@media (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .quoteasset {
    transform: translateX(14rem);
    }
    .bookasset {
    transform: translateX(-15rem);
    }
    .yellowstarasset {
    transform: translateX(15rem);
    }
    .rightcloudasset {
    transform: translateX(-13rem);
    width: 12rem;
    height: auto;
    }
    .pitaasset {
    transform: translateX(15rem);
    }
    .leftcloudasset {
    transform: translateX(15rem);
    }
    .redstarasset {
    transform: translateX(-15rem);
    }
    .arrowasset {
    transform: translateX(15rem) translateY(6rem);
    width: 10rem;
    height: auto;
    }
    .rightcloudasset2 {
    transform: translateX(-11.8rem) translateY(3rem);
    width: 10rem;
    }
    .catasset {
    transform: translateX(13rem);
    width: 10rem;
    }
    .bigleftcloudasset {
    transform: translateX(13.8rem);
    width: 12rem;
    }
    .starasset {
    transform: translateX(-15rem);
    width: 10rem;
    }
    .tapeasset {
    transform: translateX(15rem);
    }
}
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
}
@media (max-width: 1024px) and (max-height: 600px) {
}
@media (max-width: 956px) and (max-height: 440px) and (orientation: landscape) {
}
@media (max-width: 932px) and (max-height: 430px) {
}
@media (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
}
@media (max-width: 853px) and (max-height: 1280px) and (orientation: portrait) {
}
@media (max-width: 844px) and (max-height: 390px) {
}
@media (max-width: 820px) and (max-height: 1180px) {
}
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
}
@media (max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
}
@media (max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
}
@media (max-width: 540px) and (max-height: 720px) and (orientation: portrait) {
}
@media (max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
}
@media (max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
}
@media (max-width: 393px) and (max-height: 873px) and (orientation: portrait) {
}
@media (max-width: 390px) and (max-height: 844px) and (orientation: portrait) {
  .hod-container,
  .external-container,
  .pdddesign-container,
  .technology-container,
  .pdddocumentation-container,
  .publicrelation-container,
  .socialactivity-container {
    gap: 0.85rem;
  }
  .internal-container {
    gap: 0.85rem;
  }
}
@media (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
  .hod-container,
  .external-container,
  .pdddesign-container,
  .technology-container,
  .pdddocumentation-container,
  .publicrelation-container,
  .socialactivity-container {
    gap: 0.85rem;
  }
  .internal-container {
    gap: 0.85rem;
  }
}
@media (max-width: 360px) and (max-height: 740px) and (orientation: portrait) {
  .hod-container,
  .external-container,
  .pdddesign-container,
  .technology-container,
  .pdddocumentation-container,
  .publicrelation-container,
  .socialactivity-container {
    gap: 0.75rem;
  }
  .internal-container {
    gap: 0.75rem;
  }
}
@media (max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
  .hod-container,
  .external-container,
  .pdddesign-container,
  .technology-container,
  .pdddocumentation-container,
  .publicrelation-container,
  .socialactivity-container {
    gap: 1rem;
  }
  .internal-container {
    gap: 1rem;
  }
}
