@import "tailwindcss";

@theme {
  --font-family-gill: 'Gill Sans MT', sans-serif;
  --font-family-impact: 'Impact Custom', Impact, sans-serif;
  --font-family-haetten: 'Haettenschweiler', sans-serif;
  --color-background: #F1EEE6;
  --color-foreground: #171717;
}

:root {
  --background: #F1EEE6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-0.25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swing-hover:hover {
  animation: swing 0.6s ease-in-out;
  transform-origin: top center;
}

.swing-effect{
  animation: swing 0.7s ease-in-out;
  transform-origin: top center;
}


@font-face {
    font-family: 'Gill Sans MT';
    src: url('/fonts/GillSansMT.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact Custom';
    src: url('/fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Haettenschweiler';
  src: url('/fonts/Hatten.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}